{% extends 'base.html' %} {% load static %} {% block meta %}
<link rel="stylesheet" href="{% static 'css/main.css'%}"> {% endblock meta %} {% block content %}
<div id="header">
    <h1>HALAMAN ASET</h1>
    <div class="header-list">
        <ul>
            <li>Nama: <span class="isi-header-list">{{name}}</li>
            <li>Kelas: <span class="isi-header-list">{{class}}</span></li>
        </ul>
    </div>
</div>

<div id="main">
    {% if products %}
    <table id="product_table">
        <!--
        <tr class="judul-tabel">
            <th>No.</th>
            <th>Jenis</th>
            <th>Nama</th>
            <th>Pemilik</th>
            <th>Jumlah</th>
            <th>Tanggal Ditambahkan</th>
            <th>Deskripsi</th>
            <th>Aksi</th>
        </tr>

        {% for product in products %}
        <tr class="isi-tabel {% if forloop.last %}produk-terakhir{% endif %}">
            <td class="no">{{forloop.counter}}</td>
            <td class="jenis">{{product.type}}</td>
            <td class="nama">{{product.name}}</td>
            <td class="pemilik">{{product.owner}}</td>
            <td class="jumlah">
                <span>{{product.amount}}</span>
                <div class="tombol-jumlah">
                    <a href="{% url 'main:increase_product_amount' product.id %}">
                        <button>Tambah</button>
                    </a>
                    <h style="font-size: 10px; color: #20263a">|</h>
                    <a href="{% url 'main:decrease_product_amount' product.id %}">
                        <button>Kurangi</button>
                    </a>
                </div>
            </td>
            <td class="tanggal">{{product.date_added}}</td>
            <td class="deskripsi">{{product.description}}</td>
            <td class="tombol-aksi">
                <div class="tombol-aksi">
                    <a href="{% url 'main:edit_product' product.pk %}">
                        <button>Ubah</button>
                    </a>
                    <h style="font-size: 12px; color: #20263a">|</h>
                    <a href="{% url 'main:delete_product' product.id %}">
                        <button>Hapus</button>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    -->
    </table>
    {% else %}
    <h class="pesan-kosong">Tidak Ada Aset</h>
    {% endif %}
    <br />
    <div class="tombol-akhir">
        <a class="tombol-tambah" href="{% url 'main:create_product' %}">
            <button>
                Tambah Produk
            </button>
        </a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Tambah Produk (AJAX)</button>
        <h5 class="sesi">Sesi terakhir masuk: {{last_login}}</h5>
        <a class="tombol-keluar" href="{% url 'main:logout' %}">
            <button>
                Keluar
            </button>
        </a>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Produk</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="type" class="col-form-label">Jenis:</label>
                        <input type="text" class="form-control" id="type" name="type"></input>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Nama:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="owner" class="col-form-label">Pemilik:</label>
                        <input type="text" class="form-control" id="owner" name="owner"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Jumlah:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Deskripsi:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Tambah</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>

<script>
    async function getProducts() {
        return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
    }

    async function refreshProducts() {
        document.getElementById("product_table").innerHTML = ""
        const products = await getProducts()
        let htmlString = `<tr>
            <th>Jenis</th>
            <th>Nama</th>
            <th>Pemilik</th>
            <th>Jumlah</th>
            <thTanggal Ditambahkan</th>
            <th>Deskripsi</th>
            <th>Aksi</th>
        </tr>`
        products.forEach((item) => {
            htmlString += `\n<tr class="isi-tabel {% if forloop.last %}produk-terakhir{% endif %}">
            <td class="jenis">${item.fields.type}</td>
            <td class="nama">${item.fields.name}</td>
            <td class="pemilik">${item.fields.owner}</td>
            <td class="jumlah">${item.fields.amount}</td>
            <td class="tanggal">${item.fields.date_added}</td>
            <td class="deskripsi">${item.fields.description}</td>
            <td class="hapus"><button onclick="deleteProduct(${item.pk})">Hapus</button></td>
        </tr>`
        })
        document.getElementById("product_table").innerHTML = htmlString
    }
    refreshProducts()

    function addProduct() {
        fetch("{% url 'main:create_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)
        document.getElementById("form").reset()
        return false
    }
    document.getElementById("button_add").onclick = addProduct

    async function deleteProduct(id) {
        const confirmation = confirm("Apakah Anda yakin ingin menghapus produk tersebut?");
        if (confirmation) {
            await fetch(`{% url 'main:delete_ajax' %}?id=${id}`, {
                method: "DELETE",
            });
            refreshProducts();
        }
    }
</script>
{% endblock content %}